<% presenter = OrdersPresenter.new(order) %>
<% datetime_formatting = presenter.status_formatting %>

<h5 class="<%= datetime_formatting[:text_type] %> fw-bolder mb-1">
  <%= presenter.start_finish_datetime %>
  <i class="<%= datetime_formatting[:icon] %> <%= datetime_formatting[:text_type] %>"></i>
</h5>