<!DOCTYPE html>
<html lang="EN">
<head>
  <title>Orders</title>
</head>

<body>
<div class="d-flex justify-content-center">
  <div class="col-md-3">
    <h4 class="fw-bolder mt-0 mb-4">Past Orders</h4>
    <%= render partial: "orders/order_list", locals: { orders: @orders } %>
  </div>
</div>
</body>
</html>
