<div class="row">
  <div class="col">
    <div class="card h-75">
      <div class="card-body">
        <i class="icofont icofont-archive text-primary h4 float-end"></i>
        <h5 class="pt-1"><%= @orders.length %></h5>
        <p class="text-muted mb-0">Заказов всего</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-75">
      <div class="card-body">
        <i class="icofont icofont-mathematical-alt-1 text-primary h4 float-end"></i>
        <h5 class="pt-1"><%= @orders.finished.length %></h5>
        <p class="text-muted mb-0">Заказов завершено</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-75">
      <div class="card-body">
        <i class="icofont icofont-ui-file text-primary h4 float-end"></i>
        <h5 class="pt-1"><%= @income_total.round(2) %> &#8381;</h5>
        <p class="text-muted mb-0">Сервис заработал</p>
      </div>
    </div>
  </div>
</div>