<div class='card bg-white mb-4 shadow-sm'>
  <div class='card-body'>
    <div class='col-sm-12 text-center'>
      <i class='icofont icofont-not-allowed fw-bolder'></i>
      <h4><strong>Заказы не найдены</strong></h4>
      <h5>Измените фильтры или совершите Ваш первый заказ</h5>
    </div>
  </div>
</div>